@using Models
@using DNP_Handin1.Data
@inject IDataAdapter FileAdapter

<h3>Brothers</h3>
@if (Brothers == null)
{
    <p>
        <em>Loading..</em>
    </p>
}else if (!Brothers.Any())
{
    <p>
        <em>No data stored. Please add some</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Brothers</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Child brother in Brothers)
        {
            <tr>
                <td>@brother.Id</td>
                <td>
                    @brother.FirstName @brother.LastName
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public Child MainChild { get; set; }

    private List<Child> Brothers;

    protected async override Task OnInitializedAsync()
    {
        Brothers = await GetBrothersAsync();
    }

    private async Task<List<Child>> GetBrothersAsync()
    {
        Family family = await FileAdapter.GetFamilyWithChildAsync(MainChild.Id);
        List<Child> brothers = new List<Child>();
        foreach (Child familyChild in family.Children)
        {
            if (familyChild.Id != MainChild.Id)
            {
                brothers.Add(familyChild);
            }
        }
        return brothers;
    }

}