@using Models

<h3>Pets</h3>
@if (PetsToDisplay == null)
{
    <p>
        <em>Loading..</em>
    </p>
}else if (!PetsToDisplay.Any())
{
    <p>
        <em>No data stored. Please add some</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Pet pet in PetsToDisplay)
        {
            <tr>
                <td>
                    @pet.Name
                </td>
                <td>
                   @pet.Species
                </td>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public List<Pet> PetsToDisplay { get; set; }
}