@using Models
@using DNP_Handin1.Data
@inject IFileAdapter FileAdapter

<h3>Parents</h3>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Adult parent in Parents)
    {
        <tr>
            <td>@parent.Id</td>
            <td>
                @parent.FirstName @parent.LastName
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public Child MainChild { get; set; }

    private List<Adult> Parents;

    protected async override Task OnInitializedAsync()
    {
        Parents = GetParents();
    }

    private List<Adult> GetParents()
    {
        Family family = FileAdapter.GetFamilyWithChild(MainChild.Id);
        return family.Adults;
    }


}